.audio-player-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  padding: 1rem;
  border-radius: 12px;
}

.custom-audio {
  width: 100%;
  outline: none;
}

.custom-audio::-webkit-media-controls-panel {
  background-color: #eee;
}
